<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScreenshotPath" value="Screenshots\" />
    <add key="BaseUrl" value="https://your-ocr-demo-site.com/" />
    <add key="DriverPath" value="Drivers\" />
    <add key="DefaultTimeout" value="30" />
    <add key="Browser" value="Chrome" />
    <add key="WindowMaximize" value="true" />
  </appSettings>
</configuration>
